openapi: 3.0.0
info:
  title: 'Dataddo Headless BETA API'
  description: 'Dataddo Headless BETA API'
  version: 1.0.0-beta.1
servers:
  -
    url: 'https://headless.dataddo.com/customer-api/v1'
    description: 'Dataddo Headless BETA API'
  -
    url: 'http://localhost:8004/customer-api/v1'
    description: 'Dataddo Headless BETA API (localhost)'
paths:
  /connectors/amazon_ads/actions/authorization:
    get:
      tags:
        - connectors.amazonAds
      summary: 'List of authorization objects'
      operationId: amazonAdsControllerActionAuthorization
      responses:
        '200':
          description: 'List of authorization objects'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionAuthorizationResponse'
  /connectors/amazon_ads/actions/profile:
    post:
      tags:
        - connectors.amazonAds
      summary: 'List of profile ids'
      operationId: amazonAdsControllerActionProfile
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties:
                properties:
                  oAuthId: { type: string, example: '0' }
                type: object
      responses:
        '200':
          description: 'List of Amazon Ads profiles'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/amazon_ads/actions/reportType:
    post:
      tags:
        - connectors.amazonAds
      summary: 'List Amazon Ads report types'
      operationId: amazonAdsControllerActionReportType
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties:
                properties:
                  adProduct: { type: string }
                type: object
                example:
                  adProduct: SPONSORED_PRODUCTS
      responses:
        '200':
          description: 'List of Amazon Ads report types'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/amazon_ads/actions/adProduct:
    get:
      tags:
        - connectors.amazonAds
      summary: 'List Amazon Ads report category/ad product'
      operationId: amazonAdsControllerActionAdProduct
      responses:
        '200':
          description: 'List of report categories (ad products)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/amazon_ads/actions/groupBy:
    post:
      tags:
        - connectors.amazonAds
      summary: 'List Amazon Ads grouping parameters'
      operationId: amazonAdsControllerActionGroupBy
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties:
                properties:
                  reportType: { type: string }
                type: object
                example:
                  reportType: spCampaigns
      responses:
        '200':
          description: 'List of Amazon Ads grouping options'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/amazon_ads/actions/timeUnit:
    get:
      tags:
        - connectors.amazonAds
      summary: 'List Amazon Ads time units'
      operationId: amazonAdsControllerActionTimeUnit
      responses:
        '200':
          description: 'List of available time units'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/amazon_ads/actions/column:
    post:
      tags:
        - connectors.amazonAds
      summary: 'List Amazon Ads columns'
      operationId: amazonAdsControllerActionColumn
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties:
                properties:
                  reportType: { type: string }
                  timeUnit: { type: string }
                  groupBy: { type: array, items: {  } }
                type: object
      responses:
        '200':
          description: 'List of Amazon Ads columns'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/amazon_ads/actions/dateRange:
    get:
      tags:
        - connectors.amazonAds
      summary: 'Method for listing date range'
      operationId: amazonAdsControllerActionDateRange
      responses:
        '200':
          description: 'List of Amazon Ads date ranges'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/amazon_ads/preview:
    post:
      tags:
        - connectors.amazonAds
      summary: 'Preview the data'
      operationId: amazonAdsControllerActionPreview
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AmazonAdsConnectorForm'
      responses:
        '200':
          description: 'Data preview'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
  /connectors/amazon_ads/create-source:
    post:
      tags:
        - connectors.amazonAds
      summary: 'Create Amazon Ads source'
      operationId: amazonAdsControllerActionLoad
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AmazonAdsConnectorForm'
      responses:
        '200':
          description: 'Create source'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
  /connectors/amazon_ads_data_extractor/preview:
    post:
      tags:
        - connectors.amazonAdsDataExtractor
      summary: 'Preview the data'
      operationId: amazonAdsDataExtractorControllerActionPreview
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AmazonAdsDataExtractorConnectorForm'
      responses:
        '200':
          description: 'Data preview'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
  /connectors/amazon_ads_data_extractor/create-source:
    post:
      tags:
        - connectors.amazonAdsDataExtractor
      summary: 'Create Amazon Ads Data Extractor source'
      operationId: amazonAdsDataExtractorControllerActionLoad
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AmazonAdsDataExtractorConnectorForm'
      responses:
        '200':
          description: 'Create source'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
  /connectors/black_diamond_batch/actions/authorization:
    get:
      tags:
        - connectors.blackDiamondBatch
      summary: 'List of authorization objects'
      operationId: blackDiamondBatchControllerActionAuthorization
      responses:
        '200':
          description: 'List of authorization objects'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionAuthorizationResponse'
  /connectors/blackDiamondBatch/actions/object:
    post:
      tags:
        - connectors.blackDiamondBatch
      summary: 'List of objects'
      operationId: blackDiamondBatchControllerActionObject
      requestBody:
        content:
          application/json:
            schema:
              properties:
                oAuthId:
                  type: string
                  example: ''
              type: object
      responses:
        '200':
          description: 'List of all available objects'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/blackDiamondBatch/actions/metrics:
    post:
      tags:
        - connectors.blackDiamondBatch
      summary: 'List Black Diamond metrics'
      operationId: blackDiamondBatchControllerActionMetrics
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties:
                properties:
                  object: { type: string }
                type: object
      responses:
        '200':
          description: 'List of Black Diamond metrics'
  /connectors/black_diamond_batch/preview:
    post:
      tags:
        - connectors.blackDiamondBatch
      summary: 'Preview the data'
      operationId: blackDiamondBatchControllerActionPreview
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlackDiamondBatchConnectorForm'
      responses:
        '200':
          description: 'Data preview'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
  /connectors/black_diamond_batch/create-source:
    post:
      tags:
        - connectors.blackDiamondBatch
      summary: 'Create Black Diamond Batch source'
      operationId: blackDiamondBatchControllerActionLoad
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlackDiamondBatchConnectorForm'
      responses:
        '200':
          description: 'Create source'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
  /connectors/black_diamond_extractor/preview:
    post:
      tags:
        - connectors.blackDiamondExtractor
      summary: 'Preview the data'
      operationId: blackDiamondExtractorControllerActionPreview
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlackDiamondExtractorConnectorForm'
      responses:
        '200':
          description: 'Data preview'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
  /connectors/black_diamond_extractor/create-source:
    post:
      tags:
        - connectors.blackDiamondExtractor
      summary: 'Create Black Diamond Extractor source'
      operationId: blackDiamondExtractorControllerActionLoad
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlackDiamondExtractorConnectorForm'
      responses:
        '200':
          description: 'Create source'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
  /connectors/everflow/actions/authorization:
    get:
      tags:
        - connectors.everflow
      summary: 'List of authorization objects'
      operationId: everflowControllerActionAuthorization
      responses:
        '200':
          description: 'List of authorization objects'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionAuthorizationResponse'
  /connectors/everflow/actions/reportType:
    get:
      tags:
        - connectors.everflow
      summary: 'List of all report types'
      operationId: everflowControllerActionReportType
      responses:
        '200':
          description: 'List of report types'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/everflow/actions/column:
    get:
      tags:
        - connectors.everflow
      summary: 'List of all columns'
      operationId: everflowControllerActionColumn
      responses:
        '200':
          description: 'List of column objects'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/everflow/actions/timeColumn:
    get:
      tags:
        - connectors.everflow
      summary: 'List of all time columns'
      operationId: everflowControllerActionTimeColumn
      responses:
        '200':
          description: 'List of time column objects'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/everflow/actions/timezoneId:
    get:
      tags:
        - connectors.everflow
      summary: 'List of all timezones'
      operationId: everflowControllerActionTimezoneId
      responses:
        '200':
          description: 'List of timezone objects'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/everflow/actions/currency:
    get:
      tags:
        - connectors.everflow
      summary: 'List of all currencies'
      operationId: everflowControllerActionCurrency
      responses:
        '200':
          description: 'List of currency objects'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/everflow/actions/metric:
    post:
      tags:
        - connectors.everflow
      summary: 'List of all metrics'
      operationId: everflowControllerActionMetric
      requestBody:
        content:
          application/json:
            schema:
              properties:
                reportType:
                  type: string
                  example: aggregated_data
              type: object
      responses:
        '200':
          description: 'List of Everflow metrics'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/everflow/actions/dateRange:
    get:
      tags:
        - connectors.everflow
      summary: 'List of all date ranges'
      operationId: everflowControllerActionDateRange
      responses:
        '200':
          description: 'List of Everflow date ranges'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/everflow/preview:
    post:
      tags:
        - connectors.everflow
      summary: 'Preview the data'
      operationId: everflowControllerActionPreview
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EverflowConnectorForm'
      responses:
        '200':
          description: 'Data preview'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
  /connectors/everflow/create-source:
    post:
      tags:
        - connectors.everflow
      summary: 'Create Everflow source'
      operationId: everflowControllerActionLoad
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EverflowConnectorForm'
      responses:
        '200':
          description: 'Create source'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
  /connectors/facebook_graph/actions/authorization:
    get:
      tags:
        - connectors.facebookGraph
      summary: 'List of authorization objects'
      operationId: facebookGraphControllerActionAuthorization
      responses:
        '200':
          description: 'List of authorization objects'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionAuthorizationResponse'
  /connectors/facebook_graph/actions/page:
    post:
      tags:
        - connectors.facebookGraph
      summary: 'List of pages'
      description: 'Method for Facebook Page'
      operationId: facebookGraphControllerActionPage
      requestBody:
        content:
          application/json:
            schema:
              properties:
                oAuthId:
                  type: string
                  example: '0'
              type: object
      responses:
        '200':
          description: 'List of pages'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/facebook_graph/actions/instagramUser:
    post:
      tags:
        - connectors.facebookGraph
      summary: 'List of pages'
      description: 'Prints all Instagram Accounts'
      operationId: facebookGraphControllerActionInstagramUser
      requestBody:
        content:
          application/json:
            schema:
              properties:
                oAuthId:
                  type: string
                  example: '0'
              type: object
      responses:
        '200':
          description: 'List of pages'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/facebook_graph/actions/account:
    post:
      tags:
        - connectors.facebookGraph
      summary: 'List of Ad accounts'
      description: "Gets all AdAccounts ID.\nData is displayed in connector form"
      operationId: facebookGraphControllerActionAccount
      requestBody:
        content:
          application/json:
            schema:
              properties:
                oAuthId:
                  type: string
                  example: '0'
              type: object
      responses:
        '200':
          description: 'List of Ad accounts'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/facebook_graph/preview:
    post:
      tags:
        - connectors.facebookGraph
      summary: 'Preview the data'
      operationId: facebookGraphControllerActionPreview
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FacebookGraphConnectorForm'
      responses:
        '200':
          description: 'Data preview'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
  /connectors/facebook_graph/create-source:
    post:
      tags:
        - connectors.facebookGraph
      summary: 'Create Facebook Graph source'
      operationId: facebookGraphControllerActionLoad
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FacebookGraphConnectorForm'
      responses:
        '200':
          description: 'Create source'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
  /connectors/facebook_graph/templates:
    get:
      tags:
        - connectors.facebookGraph
      summary: 'List all Facebook Graph dataset templates'
      operationId: facebookGraphControllerActionTemplates
      responses:
        '200':
          description: 'List all Facebook Graph dataset templates'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorTemplateResponse'
  '/connectors/facebook_graph/templates/{id}':
    get:
      tags:
        - connectors.facebookGraph
      summary: 'List details of dataset template'
      operationId: facebookGraphControllerActionTemplate
      parameters:
        -
          name: id
          in: path
          description: 'The id of the template to retrieve'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'List details of dataset template'
          content:
            application/json:
              schema:
                type: object
  /connectors/facebook_leads/actions/authorization:
    get:
      tags:
        - connectors.facebookLeads
      summary: 'List of authorization objects'
      operationId: facebookLeadsControllerActionAuthorization
      responses:
        '200':
          description: 'List of authorization objects'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionAuthorizationResponse'
  /connectors/facebook_leads/actions/attribute:
    get:
      tags:
        - connectors.facebookLeads
      summary: 'List of attributes'
      description: 'List all data labels'
      operationId: facebookLeadsControllerActionAttribute
      responses:
        '200':
          description: 'List of attributes'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/facebook_leads/actions/page:
    post:
      tags:
        - connectors.facebookLeads
      summary: 'List of pages'
      description: 'Prints all Facebook pages'
      operationId: facebookLeadsControllerActionPage
      requestBody:
        content:
          application/json:
            schema:
              properties:
                oAuthId:
                  type: string
                  example: '0'
              type: object
      responses:
        '200':
          description: 'List of pages'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/facebook_leads/actions/form:
    post:
      tags:
        - connectors.facebookLeads
      summary: 'List of lead forms'
      description: 'Prints all Facebook lead-collection forms associated with a particular page'
      operationId: facebookLeadsControllerActionForm
      requestBody:
        content:
          application/json:
            schema:
              properties:
                oAuthId:
                  type: string
                  example: '0'
                pageId:
                  type: string
                  example: '12345678910'
              type: object
      responses:
        '200':
          description: 'List of lead forms'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/facebook_leads/actions/limit:
    get:
      tags:
        - connectors.facebookLeads
      summary: 'List of lead limit options'
      description: 'List all post limit options'
      operationId: facebookLeadsControllerActionLimit
      responses:
        '200':
          description: 'List of lead limit options'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/facebook_leads/actions/dateRange:
    get:
      tags:
        - connectors.facebookLeads
      summary: 'Method for listing date range'
      description: 'Method for listing date range'
      operationId: facebookLeadsControllerActionDateRange
      responses:
        '200':
          description: 'List of Facebook Leads date ranges'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/facebook_leads/preview:
    post:
      tags:
        - connectors.facebookLeads
      summary: 'Preview the data'
      operationId: facebookLeadsControllerActionPreview
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FacebookLeadsConnectorForm'
      responses:
        '200':
          description: 'Data preview'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
  /connectors/facebook_leads/create-source:
    post:
      tags:
        - connectors.facebookLeads
      summary: 'Create Facebook Leads source'
      operationId: facebookLeadsControllerActionLoad
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FacebookLeadsConnectorForm'
      responses:
        '200':
          description: 'Create source'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
  /connectors/facebook_page/actions/authorization:
    get:
      tags:
        - connectors.facebookPage
      summary: 'List of authorization objects'
      operationId: facebookPageControllerActionAuthorization
      responses:
        '200':
          description: 'List of authorization objects'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionAuthorizationResponse'
  /connectors/facebook_page/actions/page:
    post:
      tags:
        - connectors.facebookPage
      summary: 'List all available Facebook Pages'
      operationId: facebookPageControllerActionPage
      requestBody:
        content:
          application/json:
            schema:
              properties:
                oAuthId:
                  type: string
                  example: '0'
              type: object
      responses:
        '200':
          description: 'List of Facebook pages'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/facebook_page/actions/metric:
    get:
      tags:
        - connectors.facebookPage
      summary: 'List Facebook Page metrics'
      operationId: facebookPageControllerActionMetric
      responses:
        '200':
          description: 'List of metric objects'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/facebook_page/actions/defaultMetric:
    get:
      tags:
        - connectors.facebookPage
      summary: 'List all default metrics'
      operationId: facebookPageControllerActionDefaultMetric
      responses:
        '200':
          description: 'List of default metrics'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/facebook_page/actions/defaultDataLabel:
    get:
      tags:
        - connectors.facebookPage
      summary: 'List all default data labels'
      operationId: facebookPageControllerActionDefaultDataLabel
      responses:
        '200':
          description: 'List of default data labels'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/facebook_page/actions/dataLabel:
    get:
      tags:
        - connectors.facebookPage
      summary: 'List all Facebook Page data labels'
      operationId: facebookPageControllerActionDataLabel
      responses:
        '200':
          description: 'List of data label objects'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/facebook_page/actions/dateRange:
    get:
      tags:
        - connectors.facebookPage
      summary: 'Method for listing date range'
      description: 'Method for listing date range'
      operationId: facebookPageControllerActionDateRange
      responses:
        '200':
          description: 'List of Facebook Page date ranges'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/facebook_page/preview:
    post:
      tags:
        - connectors.facebookPage
      summary: 'Preview the data'
      description: 'Preview the data'
      operationId: facebookPageControllerActionPreview
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FacebookPageConnectorForm'
      responses:
        '200':
          description: 'Data preview'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
  /connectors/facebook_page/create-source:
    post:
      tags:
        - connectors.facebookPage
      summary: 'Create Facebook Page source'
      operationId: facebookPageControllerActionLoad
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FacebookPageConnectorForm'
      responses:
        '200':
          description: 'Create source'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
  /connectors/facebook_post/actions/authorization:
    get:
      tags:
        - connectors.facebookPost
      summary: 'List of authorization objects'
      operationId: facebookPostControllerActionAuthorization
      responses:
        '200':
          description: 'List of authorization objects'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionAuthorizationResponse'
  /connectors/facebook_post/actions/page:
    post:
      tags:
        - connectors.facebookPost
      summary: 'List of all Facebook pages'
      operationId: facebookPostControllerActionPage
      requestBody:
        content:
          application/json:
            schema:
              properties:
                oAuthId:
                  type: string
                  example: '0'
              type: object
            example:
              oAuthId: 0
      responses:
        '200':
          description: 'List of all Facebook pages'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/facebook_post/actions/metric:
    get:
      tags:
        - connectors.facebookPost
      summary: 'List of all metrics'
      operationId: facebookPostControllerActionMetric
      responses:
        '200':
          description: 'List of metric objects'
          content:
            application/json:
              schema:
                type: array
                items:
                  properties: { label: { type: string }, value: { type: string }, category: { type: string } }
                  type: object
  /connectors/facebook_post/actions/dataLabel:
    get:
      tags:
        - connectors.facebookPost
      summary: 'List of all data labels'
      operationId: facebookPostControllerActionDataLabel
      responses:
        '200':
          description: 'List of data label objects'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/facebook_post/actions/defaultDataLabel:
    get:
      tags:
        - connectors.facebookPost
      summary: 'List of all default data labels'
      operationId: facebookPostControllerActionDefaultDataLabel
      responses:
        '200':
          description: 'List of default data label objects'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/facebook_post/actions/limit:
    get:
      tags:
        - connectors.facebookPost
      summary: 'List of all limits'
      description: 'List all post limit options'
      operationId: facebookPostControllerActionLimit
      responses:
        '200':
          description: 'List of all limits'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/facebook_post/preview:
    post:
      tags:
        - connectors.facebookPost
      summary: 'Preview the data'
      operationId: facebookPostControllerActionPreview
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FacebookPostConnectorForm'
      responses:
        '200':
          description: 'Data preview'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
  /connectors/facebook_post/create-source:
    post:
      tags:
        - connectors.facebookPost
      summary: 'Create FacebookPost source'
      operationId: facebookPostControllerActionLoad
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FacebookPostConnectorForm'
      responses:
        '200':
          description: 'Create source'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
  /connectors/facebook_video/actions/authorization:
    get:
      tags:
        - connectors.facebookVideo
      summary: 'List of authorization objects'
      operationId: facebookVideoControllerActionAuthorization
      responses:
        '200':
          description: 'List of authorization objects'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionAuthorizationResponse'
  /connectors/facebook_video/actions/page:
    post:
      tags:
        - connectors.facebookVideo
      summary: 'List of facebook pages'
      operationId: facebookVideoControllerActionPage
      requestBody:
        content:
          application/json:
            schema:
              properties:
                oAuthId:
                  type: string
                  example: '0'
              type: object
      responses:
        '200':
          description: 'List of facebook pages'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/facebook_video/actions/metric:
    get:
      tags:
        - connectors.facebookVideo
      summary: 'List of metrics'
      operationId: facebookVideoControllerActionMetric
      responses:
        '200':
          description: 'List of metric objects'
          content:
            application/json:
              schema:
                type: array
                items:
                  properties: { label: { type: string }, value: { type: string }, category: { type: string } }
                  type: object
  /connectors/facebook_video/actions/dataLabel:
    get:
      tags:
        - connectors.facebookVideo
      summary: 'List of data label objects'
      operationId: facebookVideoControllerActionDataLabel
      responses:
        '200':
          description: 'List of data label objects'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/facebook_video/actions/limit:
    get:
      tags:
        - connectors.facebookVideo
      summary: 'List all post limit options'
      operationId: facebookVideoControllerActionLimit
      responses:
        '200':
          description: 'List all post limit options'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/facebook_video/preview:
    post:
      tags:
        - connectors.facebookVideo
      summary: 'Preview the data'
      operationId: facebookVideoControllerActionPreview
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FacebookVideoConnectorForm'
      responses:
        '200':
          description: 'Data preview'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
  /connectors/facebook_video/create-source:
    post:
      tags:
        - connectors.facebookVideo
      summary: 'Create Facebook Video source'
      operationId: facebookVideoControllerActionLoad
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FacebookVideoConnectorForm'
      responses:
        '200':
          description: 'Create source'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
  /connectors/google_ads/actions/authorization:
    get:
      tags:
        - connectors.googleAds
      summary: 'List of authorization objects'
      operationId: googleAdsControllerActionAuthorization
      responses:
        '200':
          description: 'List of authorization objects'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionAuthorizationResponse'
  /connectors/google_ads/actions/metric:
    post:
      tags:
        - connectors.googleAds
      summary: 'List of metric objects'
      operationId: googleAdsControllerActionMetric
      requestBody:
        content:
          application/json:
            schema:
              properties:
                reportType:
                  type: string
                  example: ''
              type: object
      responses:
        '200':
          description: 'List of metric objects'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/google_ads/actions/attribute:
    post:
      tags:
        - connectors.googleAds
      summary: 'List of all attributes'
      operationId: googleAdsControllerActionAttribute
      requestBody:
        content:
          application/json:
            schema:
              properties:
                reportType:
                  type: string
                  example: ''
              type: object
      responses:
        '200':
          description: 'List of attribute objects'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/google_ads/actions/segment:
    post:
      tags:
        - connectors.googleAds
      summary: 'List of all segments'
      operationId: googleAdsControllerActionSegment
      requestBody:
        content:
          application/json:
            schema:
              properties:
                reportType:
                  type: string
                  example: ''
              type: object
      responses:
        '200':
          description: 'List of all segments'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/google_ads/actions/reportType:
    get:
      tags:
        - connectors.googleAds
      summary: 'List of all report types'
      operationId: googleAdsControllerActionReportType
      responses:
        '200':
          description: 'List of report types'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/google_ads/actions/customer:
    post:
      tags:
        - connectors.googleAds
      summary: 'List of customers'
      operationId: googleAdsControllerActionCustomer
      requestBody:
        content:
          application/json:
            schema:
              properties:
                oAuthId:
                  type: string
                  example: ''
              type: object
      responses:
        '200':
          description: 'List of customers'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/google_ads/actions/customerClient:
    post:
      tags:
        - connectors.googleAds
      summary: 'List of clients'
      operationId: googleAdsControllerActionCustomerClient
      requestBody:
        content:
          application/json:
            schema:
              properties:
                oAuthId:
                  type: string
                  example: ''
                googleCustomerId:
                  type: string
                  example: ''
              type: object
      responses:
        '200':
          description: 'List of clients'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/google_ads/preview:
    post:
      tags:
        - connectors.googleAds
      summary: 'Preview the data'
      operationId: googleAdsControllerActionPreview
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAdsConnectorForm'
      responses:
        '200':
          description: 'Data preview'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
  /connectors/google_ads/create-source:
    post:
      tags:
        - connectors.googleAds
      summary: 'Create GoogleAds source'
      operationId: googleAdsControllerActionLoad
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAdsConnectorForm'
      responses:
        '200':
          description: 'Create source'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
  /connectors/google_analytics4/actions/authorization:
    get:
      tags:
        - connectors.googleAnalytics4
      summary: 'List of authorization objects'
      operationId: googleAnalytics4ControllerActionAuthorization
      responses:
        '200':
          description: 'List of authorization objects'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionAuthorizationResponse'
  /connectors/google_analytics4/actions/account:
    post:
      tags:
        - connectors.googleAnalytics4
      summary: 'List of accounts'
      operationId: googleAnalytics4ControllerActionAccount
      requestBody:
        content:
          application/json:
            schema:
              properties:
                oAuthId:
                  type: string
                  example: '0'
              type: object
      responses:
        '200':
          description: 'List of accounts'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/google_analytics4/actions/property:
    post:
      tags:
        - connectors.googleAnalytics4
      summary: 'List of properties'
      operationId: googleAnalytics4ControllerActionProperty
      requestBody:
        content:
          application/json:
            schema:
              properties:
                oAuthId:
                  type: string
                  example: '0'
                accountId:
                  type: integer
                  example: 0
              type: object
      responses:
        '200':
          description: 'List of properties'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/google_analytics4/actions/metric:
    post:
      tags:
        - connectors.googleAnalytics4
      summary: 'List of metrics'
      operationId: googleAnalytics4ControllerActionMetric
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties:
                properties:
                  oAuthId: { type: string }
                  propertyId: { type: string }
                type: object
                example:
                  oAuthId: 0
                  propertyId: '123456789'
      responses:
        '200':
          description: 'List of metrics'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/google_analytics4/actions/dimension:
    post:
      tags:
        - connectors.googleAnalytics4
      summary: 'Get Google Analytics dimensions'
      operationId: googleAnalytics4ControllerActionDimension
      requestBody:
        content:
          application/json:
            schema:
              properties:
                oAuthId:
                  type: string
                  example: '0'
                propertyId:
                  type: string
                  example: properties/123456789
              type: object
      responses:
        '200':
          description: 'List of dimensions'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/google_analytics4/preview:
    post:
      tags:
        - connectors.googleAnalytics4
      summary: 'Preview the data'
      operationId: googleAnalytics4ControllerActionPreview
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAnalytics4ConnectorForm'
      responses:
        '200':
          description: 'Data preview'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
  /connectors/google_analytics4/create-source:
    post:
      tags:
        - connectors.googleAnalytics4
      summary: 'Create Google Analytics 4 source'
      operationId: googleAnalytics4ControllerActionLoad
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAnalytics4ConnectorForm'
      responses:
        '200':
          description: 'Create source'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
  /connectors/google_analytics/actions/authorization:
    get:
      tags:
        - connectors.googleAnalytics
      summary: 'List of authorization objects'
      operationId: googleAnalyticsControllerActionAuthorization
      responses:
        '200':
          description: 'List of authorization objects'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionAuthorizationResponse'
  /connectors/google_analytics/actions/account:
    post:
      tags:
        - connectors.googleAnalytics
      summary: 'List of accounts'
      operationId: googleAnalyticsControllerActionAccount
      requestBody:
        content:
          application/json:
            schema:
              properties:
                oAuthId:
                  type: string
                  example: '0'
              type: object
      responses:
        '200':
          description: 'List of accounts'
          content:
            application/json:
              schema:
                type: array
                items:
                  properties: { _id: { type: string }, name: { type: string } }
                  type: object
  /connectors/google_analytics/actions/property:
    post:
      tags:
        - connectors.googleAnalytics
      summary: 'List of properties'
      operationId: googleAnalyticsControllerActionProperty
      requestBody:
        content:
          application/json:
            schema:
              properties:
                oAuthId:
                  type: string
                  example: '0'
                accountId:
                  type: integer
                  example: 0
              type: object
      responses:
        '200':
          description: 'List of properties'
          content:
            application/json:
              schema:
                type: array
                items:
                  properties: { _id: { type: string }, name: { type: string } }
                  type: object
  /connectors/google_analytics/actions/view:
    post:
      tags:
        - connectors.googleAnalytics
      summary: 'List of views'
      operationId: googleAnalyticsControllerActionView
      requestBody:
        content:
          application/json:
            schema:
              properties:
                oAuthId:
                  type: string
                  example: '0'
                accountId:
                  type: integer
                  example: 0
                propertyId:
                  type: string
                  example: UA-000000-0
              type: object
      responses:
        '200':
          description: 'List of views'
          content:
            application/json:
              schema:
                type: array
                items:
                  properties: { _id: { type: string }, name: { type: string } }
                  type: object
  /connectors/google_analytics/actions/metric:
    get:
      tags:
        - connectors.googleAnalytics
      summary: 'List of metric objects'
      operationId: googleAnalyticsControllerActionMetric
      responses:
        '200':
          description: 'List of metric objects'
          content:
            application/json:
              schema:
                type: array
                items:
                  properties: { label: { type: string }, value: { type: string }, category: { type: string } }
                  type: object
  /connectors/google_analytics/actions/dimension:
    get:
      tags:
        - connectors.googleAnalytics
      summary: 'List of dimension objects'
      operationId: googleAnalyticsControllerActionDimension
      responses:
        '200':
          description: 'List of dimension objects'
          content:
            application/json:
              schema:
                type: array
                items:
                  properties: { label: { type: string }, value: { type: string }, category: { type: string } }
                  type: object
  /connectors/google_analytics/actions/dataLabel:
    get:
      tags:
        - connectors.googleAnalytics
      summary: 'List of data label objects'
      operationId: googleAnalyticsControllerActionDataLabel
      responses:
        '200':
          description: 'List of data label objects'
          content:
            application/json:
              schema:
                type: array
                items:
                  properties: { label: { type: string }, value: { type: string }, category: { type: string } }
                  type: object
  /connectors/google_analytics/actions/segment:
    post:
      tags:
        - connectors.googleAnalytics
      summary: 'List of saved segments'
      operationId: googleAnalyticsControllerActionSegment
      requestBody:
        content:
          application/json:
            schema:
              properties:
                oAuthId:
                  type: string
                  example: '0'
              type: object
      responses:
        '200':
          description: 'List of saved segments'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/google_analytics/preview:
    post:
      tags:
        - connectors.googleAnalytics
      summary: 'Preview the data'
      operationId: googleAnalyticsControllerActionPreview
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAnalyticsConnectorForm'
      responses:
        '200':
          description: 'Data preview'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
  /connectors/google_analytics/create-source:
    post:
      tags:
        - connectors.googleAnalytics
      summary: 'Create Google Analytics source'
      operationId: googleAnalyticsControllerActionLoad
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAnalyticsConnectorForm'
      responses:
        '200':
          description: 'Create source'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
  /connectors/google_campaign_manager/actions/authorization:
    get:
      tags:
        - connectors.GoogleCampaignManager
      summary: 'List of authorization objects'
      operationId: googleCampaignManagerControllerActionAuthorization
      responses:
        '200':
          description: 'List of authorization objects'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionAuthorizationResponse'
  /connectors/google_campaign_manager/actions/profile:
    post:
      tags:
        - connectors.GoogleCampaignManager
      summary: 'List of profile ids'
      operationId: googleCampaignManagerControllerActionProfile
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties:
                properties:
                  oAuthId: { type: string, example: '0' }
                type: object
      responses:
        '200':
          description: 'List of Google Campaign Manager profiles'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/google_campaign_manager/actions/reportType:
    post:
      tags:
        - connectors.GoogleCampaignManager
      summary: 'List Google Campaign Manager report types'
      operationId: googleCampaignManagerControllerActionReportType
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties:
                properties:
                  adProduct: { type: string }
                type: object
                example:
                  adProduct: SPONSORED_PRODUCTS
      responses:
        '200':
          description: 'List of Google Campaign Manager report types'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/google_campaign_manager/preview:
    post:
      tags:
        - connectors.GoogleCampaignManager
      summary: 'Preview the data'
      operationId: googleCampaignManagerControllerActionPreview
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCampaignManagerConnectorForm'
      responses:
        '200':
          description: 'Data preview'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
  /connectors/google_campaign_manager/create-source:
    post:
      tags:
        - connectors.GoogleCampaignManager
      summary: 'Create Google Campaign Manager source'
      operationId: googleCampaignManagerControllerActionLoad
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCampaignManagerConnectorForm'
      responses:
        '200':
          description: 'Create source'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
  /connectors/gorgias/actions/authorization:
    get:
      tags:
        - connectors.gorgias
      summary: 'List of authorization objects'
      operationId: gorgiasControllerActionAuthorization
      responses:
        '200':
          description: 'List of authorization objects'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionAuthorizationResponse'
  /connectors/gorgias/actions/subdomain:
    post:
      tags:
        - connectors.gorgias
      summary: 'List of all subdomains'
      description: 'Method for listing Gorgias subdomain'
      operationId: gorgiasControllerActionSubdomain
      requestBody:
        content:
          application/json:
            schema:
              properties:
                oAuthId:
                  type: string
                  example: '0'
              type: object
      responses:
        '200':
          description: 'List of subdomains'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/gorgias/preview:
    post:
      tags:
        - connectors.gorgias
      summary: 'Preview the data'
      operationId: gorgiasControllerActionPreview
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GorgiasConnectorForm'
      responses:
        '200':
          description: 'Data preview'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
  /connectors/gorgias/create-source:
    post:
      tags:
        - connectors.gorgias
      summary: 'Create Gorgias  source'
      operationId: gorgiasControllerActionLoad
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GorgiasConnectorForm'
      responses:
        '200':
          description: 'Create source'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
  /connectors/gorgias/templates:
    get:
      tags:
        - connectors.gorgias
      summary: 'List all Gorgias dataset templates'
      operationId: gorgiasControllerActionTemplates
      responses:
        '200':
          description: 'List all Gorgias dataset templates'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorTemplateResponse'
  '/connectors/gorgias/templates/{id}':
    get:
      tags:
        - connectors.gorgias
      summary: 'List details of dataset template'
      operationId: gorgiasControllerActionTemplate
      parameters:
        -
          name: id
          in: path
          description: 'The id of the template to retrieve'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'List details of dataset template'
          content:
            application/json:
              schema:
                type: object
  /connectors/hubspot/actions/authorization:
    get:
      tags:
        - connectors.hubspot
      summary: 'List of authorization objects'
      operationId: hubspotControllerActionAuthorization
      responses:
        '200':
          description: 'List of authorization objects'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionAuthorizationResponse'
  /connectors/hubspot/actions/object:
    post:
      tags:
        - connectors.hubspot
      summary: 'List of objects'
      description: 'List all available objects'
      operationId: hubspotControllerActionObject
      requestBody:
        content:
          application/json:
            schema:
              properties:
                oAuthId:
                  type: string
                  example: ''
              type: object
      responses:
        '200':
          description: 'List of all available objects'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/hubspot/actions/properties:
    post:
      tags:
        - connectors.hubspot
      summary: 'List of properties'
      description: 'List available properties'
      operationId: hubspotControllerActionProperty
      requestBody:
        content:
          application/json:
            schema:
              properties:
                oAuthId:
                  type: string
                  example: ''
                object:
                  type: string
                  example: companies
              type: object
      responses:
        '200':
          description: 'List of all available properties'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/hubspot/actions/dateRange:
    get:
      tags:
        - connectors.hubspot
      summary: 'List of date ranges'
      description: 'Method for listing date range'
      operationId: hubspotControllerActionDateRange
      responses:
        '200':
          description: 'List of date range objects'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/hubspot/preview:
    post:
      tags:
        - connectors.hubspot
      summary: 'Preview the data'
      operationId: hubspotControllerActionPreview
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HubspotConnectorForm'
      responses:
        '200':
          description: 'Data preview'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
  /connectors/hubspot/create-source:
    post:
      tags:
        - connectors.hubspot
      summary: 'Create a Hubspot source'
      operationId: hubspotControllerActionLoad
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HubspotConnectorForm'
      responses:
        '200':
          description: 'Create source'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
  /connectors/instagram_media/actions/authorization:
    get:
      tags:
        - connectors.instagramMedia
      summary: 'List of authorization objects'
      operationId: instagramMediaControllerActionAuthorization
      responses:
        '200':
          description: 'List of authorization objects'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionAuthorizationResponse'
  /connectors/instagram_media/actions/account:
    post:
      tags:
        - connectors.instagramMedia
      summary: 'List of accounts'
      description: 'Prints all Instagram Media'
      operationId: instagramMediaControllerActionAccount
      requestBody:
        content:
          application/json:
            schema:
              properties:
                oAuthId:
                  type: string
                  example: '0'
              type: object
      responses:
        '200':
          description: 'List of accounts'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/instagram_media/actions/attribute:
    get:
      tags:
        - connectors.instagramMedia
      summary: 'List of attributes'
      description: 'List all data labels'
      operationId: instagramMediaControllerActionAttribute
      responses:
        '200':
          description: 'List of attribute objects'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/instagram_media/preview:
    post:
      tags:
        - connectors.instagramMedia
      summary: 'Preview the data'
      operationId: instagramMediaControllerActionPreview
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstagramMediaConnectorForm'
      responses:
        '200':
          description: 'Data preview'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
  /connectors/instagram_media/create-source:
    post:
      tags:
        - connectors.instagramMedia
      summary: 'Create Instagram Media source'
      operationId: instagramMediaControllerActionLoad
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstagramMediaConnectorForm'
      responses:
        '200':
          description: 'Create source'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
  /connectors/instagram_user/actions/authorization:
    get:
      tags:
        - connectors.instagramUser
      summary: 'List of authorization objects'
      operationId: instagramUserControllerActionAuthorization
      responses:
        '200':
          description: 'List of authorization objects'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionAuthorizationResponse'
  /connectors/instagram_user/actions/account:
    post:
      tags:
        - connectors.instagramUser
      summary: 'List of accounts'
      description: 'Prints all Instagram Media'
      operationId: instagramUserControllerActionAccount
      requestBody:
        content:
          application/json:
            schema:
              properties:
                oAuthId:
                  type: string
                  example: '0'
              type: object
      responses:
        '200':
          description: 'List of accounts'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/instagram_user/actions/attribute:
    get:
      tags:
        - connectors.instagramUser
      summary: 'List of attributes'
      description: 'List all data labels'
      operationId: instagramUserControllerActionAttribute
      responses:
        '200':
          description: 'List of attribute objects'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/instagram_user/actions/dateRange:
    get:
      tags:
        - connectors.instagramUser
      summary: 'List of date ranges'
      description: 'Method for listing date range'
      operationId: instagramUserControllerActionDateRange
      responses:
        '200':
          description: 'List of date range objects'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/instagram_user/preview:
    post:
      tags:
        - connectors.instagramUser
      summary: 'Preview the data'
      operationId: instagramUserControllerActionPreview
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstagramUserConnectorForm'
      responses:
        '200':
          description: 'Data preview'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
  /connectors/instagram_user/create-source:
    post:
      tags:
        - connectors.instagramUser
      summary: 'Create Instagram User source'
      operationId: instagramUserControllerActionLoad
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstagramUserConnectorForm'
      responses:
        '200':
          description: 'Create source'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
  /connectors/mailchimp/actions/authorization:
    get:
      tags:
        - connectors.mailchimp
      summary: 'List of authorization objects'
      operationId: mailchimpControllerActionAuthorization
      responses:
        '200':
          description: 'List of authorization objects'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionAuthorizationResponse'
  /connectors/mailchimp/actions/dc:
    post:
      tags:
        - connectors.mailchimp
      summary: 'List of data centers'
      operationId: mailchimpControllerActionDc
      responses:
        '200':
          description: 'List of data centers'
          content:
            application/json:
              schema:
                type: array
                items:
                  properties: { key: { type: string }, value: { type: string } }
                  type: object
  /connectors/mailchimp/actions/list:
    post:
      tags:
        - connectors.mailchimp
      summary: 'List of contacts'
      operationId: mailchimpControllerActionList
      requestBody:
        content:
          application/json:
            schema:
              properties:
                oAuthId:
                  type: string
                  example: '0'
                dc:
                  type: string
                  example: us1
              type: object
      responses:
        '200':
          description: 'List of contacts'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/mailchimp/preview:
    post:
      tags:
        - connectors.mailchimp
      summary: 'Preview the data'
      operationId: mailchimpControllerActionPreview
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MailchimpConnectorForm'
      responses:
        '200':
          description: 'Data preview'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
  /connectors/mailchimp/create-source:
    post:
      tags:
        - connectors.mailchimp
      summary: 'Create Mailchimp User source'
      operationId: mailchimpControllerActionLoad
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MailchimpConnectorForm'
      responses:
        '200':
          description: 'Create source'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
  /connectors/mailchimp/templates:
    get:
      tags:
        - connectors.mailchimp
      summary: 'List all Mailchimp dataset templates'
      operationId: mailchimpControllerActionTemplates
      responses:
        '200':
          description: 'List all Mailchimp dataset templates'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorTemplateResponse'
  '/connectors/mailchimp/templates/{id}':
    get:
      tags:
        - connectors.mailchimp
      summary: 'List details of dataset template'
      operationId: mailchimpControllerActionTemplate
      parameters:
        -
          name: id
          in: path
          description: 'The id of the template to retrieve'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'List details of dataset template'
          content:
            application/json:
              schema:
                type: object
  /connectors/matomo/actions/siteId:
    get:
      tags:
        - connectors.matomo
      summary: "List of Site Id's"
      description: 'Method for listing site id'
      operationId: matomoControllerActionSiteId
      responses:
        '200':
          description: "List of Site Id's"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/pinterest/actions/dateRange:
    get:
      tags:
        - connectors.pinterest
      summary: 'List of date ranges'
      description: 'Method for listing date range'
      operationId: pinterestControllerActionDateRange
      responses:
        '200':
          description: 'List of date range objects'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/pinterest/actions/authorization:
    get:
      tags:
        - connectors.pinterest
      summary: 'List of authorization objects'
      operationId: pinterestControllerActionAuthorization
      responses:
        '200':
          description: 'List of authorization objects'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionAuthorizationResponse'
  /connectors/pinterest/actions/advertiser:
    post:
      tags:
        - connectors.pinterest
      summary: 'List of ads accounts'
      description: "Gets all Advertisers ID.\nData is displayed in connector form\nIs truncating the value of the advertise_id at the moment"
      operationId: pinterestControllerActionAdvertiser
      requestBody:
        content:
          application/json:
            schema:
              properties:
                oAuthId:
                  type: string
                  example: '0'
              type: object
      responses:
        '200':
          description: 'List of ads accounts'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/pinterest/actions/reportLevel:
    get:
      tags:
        - connectors.pinterest
      summary: 'List of reporting levels'
      description: 'Reporting Level'
      operationId: pinterestControllerActionReportLevel
      responses:
        '200':
          description: 'List of reporting levels'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/pinterest/actions/granularity:
    get:
      tags:
        - connectors.pinterest
      summary: 'List of time breakdowns'
      description: Granularity.
      operationId: pinterestControllerActionGranularity
      responses:
        '200':
          description: 'List of time breakdowns'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/pinterest/actions/clickWindowDays:
    get:
      tags:
        - connectors.pinterest
      summary: 'List of click windows'
      description: 'View window days.'
      operationId: pinterestControllerActionClickWindowDays
      responses:
        '200':
          description: 'List of click windows'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/pinterest/actions/engagementWindowDays:
    get:
      tags:
        - connectors.pinterest
      summary: 'List of engagement windows'
      description: 'View window days.'
      operationId: pinterestControllerActionEngagementWindowDays
      responses:
        '200':
          description: 'List of engagement windows'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/pinterest/actions/viewWindowDays:
    get:
      tags:
        - connectors.pinterest
      summary: 'List of view windows'
      description: 'View window days.'
      operationId: pinterestControllerActionViewWindowDays
      responses:
        '200':
          description: 'List of view windows'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/pinterest/actions/conversionTime:
    get:
      tags:
        - connectors.pinterest
      summary: 'List of conversion times'
      description: 'Conversion report time.'
      operationId: pinterestControllerActionConversionTime
      responses:
        '200':
          description: 'List of conversion times'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/pinterest/actions/column:
    post:
      tags:
        - connectors.pinterest
      summary: 'List of columns'
      description: 'List all columns'
      operationId: pinterestControllerActionColumn
      requestBody:
        content:
          application/json:
            schema:
              properties:
                reportLevel:
                  type: string
                  example: ads
              type: object
      responses:
        '200':
          description: 'List of columns'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/pinterest/actions/dataLabel:
    post:
      tags:
        - connectors.pinterest
      summary: 'List of data labels'
      description: 'List all data labels'
      operationId: pinterestControllerActionDataLabel
      requestBody:
        content:
          application/json:
            schema:
              properties:
                reportLevel:
                  type: string
                  example: ads
              type: object
      responses:
        '200':
          description: 'List of data labels'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/pinterest/preview:
    post:
      tags:
        - connectors.pinterest
      summary: 'Preview the data'
      operationId: pinterestControllerActionPreview
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PinterestConnectorForm'
      responses:
        '200':
          description: 'Data preview'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
  /connectors/pinterest/create-source:
    post:
      tags:
        - connectors.pinterest
      summary: 'Create Pinterest source'
      operationId: pinterestControllerActionLoad
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PinterestConnectorForm'
      responses:
        '200':
          description: 'Create source'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
  /connectors/salesforce/actions/authorization:
    get:
      tags:
        - connectors.salesforce
      summary: 'List of authorization objects'
      operationId: salesforceControllerActionAuthorization
      responses:
        '200':
          description: 'List of authorization objects'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionAuthorizationResponse'
  /connectors/salesforce/actions/instance:
    post:
      tags:
        - connectors.salesforce
      summary: "List all available instance\nIt is possible to use centralized authentication server (login.salesforce.com) even if custom domain is used"
      operationId: salesforceControllerActionInstance
      requestBody:
        content:
          application/json:
            schema:
              properties:
                oAuthId:
                  type: string
                  example: '0'
              type: object
      responses:
        '200':
          description: 'List of Salesforce instances'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/salesforce/actions/apiVersion:
    post:
      tags:
        - connectors.salesforce
      summary: 'List available API versions'
      operationId: salesforceControllerActionApiVersion
      requestBody:
        content:
          application/json:
            schema:
              properties:
                oAuthId:
                  type: string
                  example: '0'
                instance:
                  type: string
                  example: example.com
              type: object
      responses:
        '200':
          description: 'List of Salesforce API Versions'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/salesforce/actions/object:
    post:
      tags:
        - connectors.salesforce
      summary: 'Gets all Marketing cloud data extensions'
      operationId: salesforceControllerActionObject
      requestBody:
        content:
          application/json:
            schema:
              properties:
                oAuthId:
                  type: string
                  example: '0'
                instance:
                  type: string
                  example: example.my.salesforce.com
                apiVersion:
                  type: string
                  example: '31.0'
              type: object
      responses:
        '200':
          description: 'List of Salesforce objects'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/salesforce/actions/attribute:
    post:
      tags:
        - connectors.salesforce
      summary: 'Gets all available data extensions attributes'
      operationId: salesforceControllerActionAttribute
      requestBody:
        content:
          application/json:
            schema:
              properties:
                oAuthId:
                  type: string
                  example: '0'
                instance:
                  type: string
                  example: example.my.salesforce.com
                apiVersion:
                  type: string
                  example: '31.0'
                object:
                  type: string
                  example: Account
              type: object
      responses:
        '200':
          description: 'List of Salesforce attributes'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/salesforce/preview:
    post:
      tags:
        - connectors.salesforce
      summary: 'Preview the data'
      operationId: salesforceControllerActionPreview
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesforceConnectorForm'
      responses:
        '200':
          description: 'Data preview'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
  /connectors/salesforce/create-source:
    post:
      tags:
        - connectors.salesforce
      summary: 'Create Salesforce source'
      operationId: salesforceControllerActionLoad
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesforceConnectorForm'
      responses:
        '200':
          description: 'Create source'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
  /connectors/similarweb/actions/authorization:
    get:
      tags:
        - connectors.similarweb
      summary: 'List of authorization objects'
      operationId: similarwebControllerActionAuthorization
      responses:
        '200':
          description: 'List of authorization objects'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionAuthorizationResponse'
  /connectors/similarweb/actions/dateRange:
    get:
      tags:
        - connectors.similarweb
      summary: 'Method for listing date range'
      description: 'Method for listing date range'
      operationId: similarwebControllerActionDateRange
      responses:
        '200':
          description: 'List of Similarweb date ranges'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/similarweb/preview:
    post:
      tags:
        - connectors.similarweb
      summary: 'Preview the data'
      operationId: similarwebControllerActionPreview
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimilarwebConnectorForm'
      responses:
        '200':
          description: 'Data preview'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
  /connectors/similarweb/create-source:
    post:
      tags:
        - connectors.similarweb
      summary: 'Create Similarweb source'
      operationId: similarwebControllerActionLoad
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimilarwebConnectorForm'
      responses:
        '200':
          description: 'Create source'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
  /connectors/similarweb/templates:
    get:
      tags:
        - connectors.similarweb
      summary: 'List all Similarweb dataset templates'
      operationId: similarwebControllerActionTemplates
      responses:
        '200':
          description: 'List all Similarweb dataset templates'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorTemplateResponse'
  '/connectors/similarweb/templates/{id}':
    get:
      tags:
        - connectors.similarweb
      summary: 'List details of dataset template'
      operationId: similarwebControllerActionTemplate
      parameters:
        -
          name: id
          in: path
          description: 'The id of the template to retrieve'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'List details of dataset template'
          content:
            application/json:
              schema:
                type: object
  /connectors/snapchat/actions/authorization:
    get:
      tags:
        - connectors.snapchat
      summary: 'List of authorization objects'
      operationId: snapchatControllerActionAuthorization
      responses:
        '200':
          description: 'List of authorization objects'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionAuthorizationResponse'
  /connectors/snapchat/actions/organization:
    post:
      tags:
        - connectors.snapchat
      summary: 'List of Snapchat organization IDs'
      operationId: snapchatControllerActionOrganization
      requestBody:
        content:
          application/json:
            schema:
              properties:
                oAuthId:
                  type: string
                  example: '12345'
              type: object
      responses:
        '200':
          description: 'List of Snapchat organization IDs'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/snapchat/actions/account:
    post:
      tags:
        - connectors.snapchat
      summary: 'List of all Snapchat Ad account IDs'
      description: 'List all AdAccount IDs'
      operationId: snapchatControllerActionAccount
      requestBody:
        content:
          application/json:
            schema:
              properties:
                oAuthId:
                  type: string
                  example: '12345'
                organizationId:
                  type: string
                  example: 12abc3de-456f-78g9-h123-45i6j789kl12
              type: object
      responses:
        '200':
          description: 'List of all Snapchat Ad account IDs'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/snapchat/actions/campaign:
    post:
      tags:
        - connectors.snapchat
      summary: 'List of all Snapchat campaign IDs'
      description: 'List all Campaign IDs'
      operationId: snapchatControllerActionCampaign
      requestBody:
        content:
          application/json:
            schema:
              properties:
                oAuthId:
                  type: string
                  example: '12345'
                accountId:
                  type: string
                  example: '12345'
              type: object
      responses:
        '200':
          description: 'List of all Snapchat Ad account IDs'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/snapchat/actions/breakdown:
    get:
      tags:
        - connectors.snapchat
      summary: 'List of stats breakdowns'
      description: 'Method for listing stats breakdowns'
      operationId: snapchatControllerActionBreakdown
      responses:
        '200':
          description: 'List of stats breakdowns'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/snapchat/actions/metric:
    get:
      tags:
        - connectors.snapchat
      summary: 'List of all metrics'
      description: 'List all metrics'
      operationId: snapchatControllerActionMetric
      responses:
        '200':
          description: 'List of all metrics'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/snapchat/actions/labels:
    get:
      tags:
        - connectors.snapchat
      summary: 'List of all labels'
      description: 'List all labels'
      operationId: snapchatControllerActionLabels
      responses:
        '200':
          description: 'List of all labels'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/snapchat/actions/dateRange:
    get:
      tags:
        - connectors.snapchat
      summary: 'List of date ranges'
      description: 'Method for listing date range'
      operationId: snapchatControllerActionDateRange
      responses:
        '200':
          description: 'List of date range objects'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/snapchat/preview:
    post:
      tags:
        - connectors.snapchat
      summary: 'Preview the data'
      operationId: snapchatControllerActionPreview
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SnapchatConnectorForm'
      responses:
        '200':
          description: 'Data preview'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
  /connectors/snapchat/create-source:
    post:
      tags:
        - connectors.snapchat
      summary: 'Create Snapchat source'
      operationId: snapchatControllerActionLoad
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SnapchatConnectorForm'
      responses:
        '200':
          description: 'Create source'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
  /connectors/snapchat_lookup/actions/authorization:
    get:
      tags:
        - connectors.snapchatLookup
      summary: 'List of authorization objects'
      operationId: snapchatLookupControllerActionAuthorization
      responses:
        '200':
          description: 'List of authorization objects'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionAuthorizationResponse'
  /connectors/snapchat_lookup/actions/organization:
    post:
      tags:
        - connectors.snapchatLookup
      summary: 'List of organizations'
      description: 'List all the Organization IDs'
      operationId: snapchatLookupControllerActionOrganization
      requestBody:
        content:
          application/json:
            schema:
              properties:
                oAuthId:
                  type: string
                  example: '0'
              type: object
      responses:
        '200':
          description: 'List of organizations'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/snapchat_lookup/actions/account:
    post:
      tags:
        - connectors.snapchatLookup
      summary: 'List of accounts'
      description: 'List all AdAccount IDs'
      operationId: snapchatLookupControllerActionAccount
      requestBody:
        content:
          application/json:
            schema:
              properties:
                oAuthId:
                  type: string
                  example: '0'
                organizationId:
                  type: string
                  example: abc123
              type: object
      responses:
        '200':
          description: 'List of accounts'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/snapchat_lookup/actions/level:
    get:
      tags:
        - connectors.snapchatLookup
      summary: 'List of levels'
      description: 'Method for listing levels'
      operationId: snapchatLookupControllerActionLevel
      responses:
        '200':
          description: 'List of level objects'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/snapchat_lookup/actions/attribute:
    post:
      tags:
        - connectors.snapchatLookup
      summary: 'List of attributes'
      description: 'Method for listing attributes'
      operationId: snapchatLookupControllerActionAttribute
      requestBody:
        content:
          application/json:
            schema:
              properties:
                level:
                  type: string
                  example: CAMPAIGN
              type: object
      responses:
        '200':
          description: 'List of accounts'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/snapchat_lookup/preview:
    post:
      tags:
        - connectors.snapchatLookup
      summary: 'Preview the data'
      operationId: snapchatLookupControllerActionPreview
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SnapchatLookupConnectorForm'
      responses:
        '200':
          description: 'Data preview'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
  /connectors/snapchat_lookup/create-source:
    post:
      tags:
        - connectors.snapchatLookup
      summary: 'Create Snapchat Lookup source'
      operationId: snapchatLookupControllerActionLoad
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SnapchatLookupConnectorForm'
      responses:
        '200':
          description: 'Create source'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
  /connectors/tik_tok/actions/authorization:
    get:
      tags:
        - connectors.tikTok
      summary: 'List of authorization objects'
      operationId: tikTokControllerActionAuthorization
      responses:
        '200':
          description: 'List of authorization objects'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionAuthorizationResponse'
  /connectors/tik_tok/actions/advertiser:
    post:
      tags:
        - connectors.tikTok
      summary: 'List of advertisers'
      description: "Gets all Advertisers ID.\nData is displayed in connector form\nIs truncating the value of the advertise_id at the moment"
      operationId: tikTokControllerActionAdvertiser
      requestBody:
        content:
          application/json:
            schema:
              properties:
                oAuthId:
                  type: string
                  example: '0'
              type: object
      responses:
        '200':
          description: 'List of advertisers'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/tik_tok/actions/reportType:
    get:
      tags:
        - connectors.tikTok
      summary: 'List of report types'
      description: 'Reporting Type. Basic, Audience ...'
      operationId: tikTokControllerActionReportType
      responses:
        '200':
          description: 'List of report types'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/tik_tok/actions/dataLevel:
    post:
      tags:
        - connectors.tikTok
      summary: 'List of data levels'
      description: 'List all Data Levels'
      operationId: tikTokControllerActionDataLevel
      requestBody:
        content:
          application/json:
            schema:
              properties:
                reportType:
                  type: string
                  example: BASIC
              type: object
      responses:
        '200':
          description: 'List of data levels'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/tik_tok/actions/idDimension:
    post:
      tags:
        - connectors.tikTok
      summary: 'List of all ID dimensions'
      description: 'List all ID dimensions'
      operationId: tikTokControllerActionIdDimension
      requestBody:
        content:
          application/json:
            schema:
              properties:
                reportType:
                  type: string
                  example: Basic
                dataLevel:
                  type: string
                  example: 'Auction Ad'
              type: object
      responses:
        '200':
          description: 'List of all ID dimensions'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelValueResponse'
  /connectors/tik_tok/actions/timeDimension:
    post:
      tags:
        - connectors.tikTok
      summary: 'List of all time dimensions'
      description: 'List all Time dimensions'
      operationId: tikTokControllerActionTimeDimension
      requestBody:
        content:
          application/json:
            schema:
              properties:
                reportType:
                  type: string
                  example: Basic
                dataLevel:
                  type: string
                  example: 'Auction Ad'
              type: object
      responses:
        '200':
          description: 'List of all time dimensions'
          content:
[...]
